@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-top: 50px;
}

.login,
.register {
  padding: 0 10px;
  cursor: pointer;
}

.login {
  color: #d3d3d3; /* màu xám nhạt */
  font-weight: bold;
  text-decoration: none;
}
.login:hover {
  color: #000; /* màu đen */
  font-weight: bold;
}
.register {
  color: #000; /* màu đen */
  font-weight: bold;
}

.separator {
  height: 24px;
  width: 1px;
  background-color: #999; /* màu của đường kẻ */
}
.form-container {
            margin-top: 40px;
            justify-content: center;
            justify-items: center;
        }

        .form-group {
            width: 600px;
            align-items: center;
            margin-bottom: 15px;
           
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="date"] {
            width: 100%;
            padding: 12px;
            background-color: #eee;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        input[type="radio"] {
            margin-right: 5px;
        }

        label {
            margin-right: 15px;
            font-size: 16px;
        }

        .gender-group {
            display: flex;
            align-items: center;
        }
        .form-actions {
            display: flex;
            align-items: center;
            margin-top: 30px;
        }

        .register-btn {
            background: #2e3191;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 16px;
            border-radius: 3px;
            cursor: pointer;
            margin-right: 20px;
            transition: all 0.3s linear;
            position: relative;
        }
        
        .register-btn:hover{
            background: yellow;
            color: #2e3191;
           
        }

        .login-link {
            font-size: 17px;
        }

        .login-link a {
            color: #0099ff;
            text-decoration: none;
            font-weight: bold;
        }

        .login-link a:hover {
            text-decoration: underline;
        }
        .auth-container {
          display: flex;
          justify-content: center;
          justify-items: center;
          font-size: 24px;
          margin-top: 50px;
        }
        
        .auth-option {
          padding: 0 20px;
          cursor: pointer;
          font-weight: bold;
        }
        
        .active {
          color: black;
        }
        
        .inactive {
          color: #d3d3d3; /* Màu xám nhạt */
        }
        .dk {
          text-decoration: none;
        }
        .separator {
          height: 24px;
          width: 1px;
          background-color: #999;
        }
        
        .auth-option:hover {
          color: black;
        }
        .form-container {
          justify-content: center;
          justify-items: center;
        }
        .header {
          width: 100%;
          height: 80px;
          max-height: 80px;
          display: flex;
          background: white;
        }
        .header-left {
          width: 20%;
          height: 100%;
        }
        .header-left img {
          width: 60%;
          height: 80%;
          margin-top:10px ;
          margin-left: 40px;
        }
        .header-center {
          width: 60%;
          height: 100%;
        
          text-align: center;
        }
        .header-center .mucluc {
          list-style: none;
          height: 100%;
          display: inline-flex;
        }
        .mucluc li {
          padding: 30px 5px;
          margin: 0 20px;
        }
        li .link {
          text-decoration: none;
          color: black;
          font-size: 17px;
        }
        .header-right {
          width: 20%;
          height: 100%;
          text-align: right;
        }
        .header-right .icon {
          list-style: none;
          margin-top: 7px;
          display: inline-flex;
          font-size: 30px;
        }
        .icon li {
          margin: 20px 20px;
          cursor: pointer;
        }
        .mucluc .link:hover {
          color: rgb(223, 223, 132);
        }
        .icon-container {
          position: relative;
          cursor: pointer;
        }
        .tooltip {
          display: none;
          position: absolute;
          top: 70px; /* Điều chỉnh vị trí hiển thị khung thông báo */
          transform: translateX(-70%);
          background-color: #fff;
          color: #333;
          padding: 14px 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
          white-space: nowrap;
          z-index: 10;
         
        }
        .tooltip::before{
          content: "";
          position: absolute;
          top: -22px; 
          left: 50%; 
          transform: translateX(420%);
      
          width: 20px;
          height: 20px;
          background-color: #ddd;
          border: 1px solid #ccc;
          box-shadow:  2px 8px rgba(0, 0, 0, 0.2);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        }
        .tooltip h3 {
          font-size: 25px;
        }
        ul {
          list-style-position: inside; /* Đưa dấu chấm vào bên trong để gần sát nội dung */
          text-align: left;
          font-size: 25px;
        }
        .tooltip ul li:hover{
          color: rgb(199, 199, 10);
        }
        .icon-container:hover .tooltip {
          display: block;
          
        }
